@for (item of listadoPersonajes; track item.id) {

<div class="card mb-3">
    
    <div class="row g-0">
       
        <div class="col-md-4">
            <img [src]="item.image">
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <h5>Estado: {{item.status}}</h5>
                <h5>Raza: {{item.species}}</h5>
                <p class="card-text">Origin: {{item.origin.name}}</p>
                <p>Location: {{item.location.name}}</p>
                <p>Genero: {{item.gender}}</p>
            </div>
        </div>

    </div>

</div>
}